<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>  
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input id="input_usuario" (ionChange)="ionChangeInput($event)" type='text'	clear-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input id="input_clave" (ionChange)="ionChangeInput($event)" type='password' clear-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="irAPagina('home')" expand="block">Entrar</ion-button>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
